body {
  display: grid;
  grid-template-columns: 7em 25% auto 7em;
  grid-template-rows: 9.5em auto 8em;
  grid-row-gap: 1em;
  grid-column-gap: 0.5em;
}

#banner {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #387780;
  color: #F9F7F3;
  box-shadow: 0 3px 10px rgba(0,0,0,0.33);
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 500%;
  letter-spacing: 8px;
  margin-top: -0.0%;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
}

.larger {
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
  font-size: 150%;
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: -175px;
  margin-left: 25px;
  letter-spacing: 16px;
  color: #F7864A;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
}

.left-column {
  grid-column-start: 2;
  grid-column-end: 3;
  border-right: #E3E1DD 4px solid;
}

#headlines, #saved-comments {
  color: #515050;
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
}

.comments {
  margin-left: 5%;
}

#headlines > li {
  font-size: 150%;
  letter-spacing: 2px;
  margin: 2% 15% 2% 0;
  padding: 4% 2%;
  border-bottom: 2px solid #F7864A;
}

#scraper {
  background-color: #777576;
  border: none;
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  padding: 2% 10%;
  font-size: 180%;
  letter-spacing: 4px;
  font-family: 'Barlow Condensed', sans-serif;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.33);
}

#saved-comments > li {
  padding: 1.5% 3%;
  font-size: 108%;
}


.article {
  color: #515050;
  background-color: white;
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 90%;
  letter-spacing: 2px;
}

.article:hover{
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.right-column {
  font-family: 'Barlow Condensed', sans-serif;
  grid-column-start: 3;
  grid-column-end: 4;
  border-left: #E3E1DD 4px solid;
}

p {
  margin-left: 5%;
  text-align: justify;
  font-size: 150%;
}

.summary {
  color: #515050;
  text-decoration: none;
}

i {
  font-size: 50%;
}

#user-comment, #username {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
}

#user-comment {
  margin-bottom: 0.5%;
}

#username {
  width: 30%;
}

#add-comment {
  margin-left: 5px;
  padding: .7% 1%;
  background-color: #777576;
  border: none;
  color: white;
  letter-spacing: 2px;
  font-family: 'Barlow Condensed', sans-serif;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.33);
}

.comments {
  display: none;
}
